#main{
    box-shadow: 0 0 10px 2px rgba(144, 149, 161, 0.2);
}

#logo{
    width: 70%;
    margin: auto;
}

#section{
margin-top: 10px;
}

span {
    color: #008B8B;
}

a {
    text-decoration: none;
    color: #333;
}

#btn, #btn-datos, #btn-modal-datos, #btn-modal-campos{
    background-color: #008B8B;
    color: #ffff;
}

#img{
    width: 80;
    margin: auto;
}
